html {
    justify-content: center;
    width: 100%
}

p1 {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    width: 25rem;
    text-align: left;
    font-size:large
}

.nav-link {
    margin-left: 1rem;
    height: 50px
}


.section1 {
    display: inline-block;
    border-right: 1px solid rgba(137, 137, 216, 0.253);
    width: 25rem;
    height: 48rem;
}

#headshot {
    border: 2px solid transparent;
    float: left;
    border-radius: 50%;
    padding: 30px
}

.section2 {
    display: inline-block;
    width: 70%;
    border: 1px solid transparent;
    padding: 40px;
    vertical-align: top;
}

#search {
    margin-left: auto;
    width: 20rem
}

#searchButton {
    margin-right: auto;
    width:5rem

}

p {
    display: inline-block;
    border: 1px solid transparent;
    padding-top: 2rem;
    width: 12rem;
    color: rgb (17, 17, 109)
    font-weight: bold;
}
